<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title">
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <span class="titlepage">TOTAISES</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="{{asset('gentelella/production/images/user.png')}}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">

                <span><b>Bienvenido</b></span> <br>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span>{{app.user.persona.nombreCompleto}}</span>
                {% endif %}
                <br>
                <b style="color:white"></b>

            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                    <li><a href="{{path('categoria_index')}}"><i class="fa fa-sitemap" aria-hidden="true"></i>Categoria</a>
                    </li>
                    <li><a href="{{path('jugador_index')}}"><i class="fa fa-user" aria-hidden="true"></i>Jugador</a>
                    </li>
                    <li><a href="{{path('equipo_index')}}"><i class="fa fa-users" aria-hidden="true"></i>Equipo</a>
                    </li>
                    
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
    </div>
</div>
