{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><b>Datos del Equipo </b><small>Ver</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th>Nº</th>
                                    <td><b>{{equipo.id}}</b></td>
                                    <th>Equipo</th>
                                    <td>{{equipo.nombre}}</td>
                                </tr>
                                <tr>
                                    <th>Categoria</th>
                                    <td><b>{{equipo.categoria.nombre}}</b></td>
                                    <th>Representante</th>
                                    <td>{{equipo.representante.nombreCompleto}}</td>
                                </tr>
                                <tr>
                                    <th>Fecha Fundacion</th>
                                    <td><b>{{equipo.fechaFundacion|date('d-m-Y')}}</b></td>
                                    <th>Opciones</th>
                                    <td><a href="{{path('equipo_edit',{id:equipo.id})}}" class="btn btn-warning btn-xs"> Editar</i></a>
                                        {{ form_start(delete_form) }}
                                        <input type="submit" value="Eliminar" class="btn btn-danger btn-xs">
                                        {{ form_end(delete_form) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
