{% extends 'base.html.twig' %}
{% form_theme edit_form _self %}
{% block _reparacionbundle_solicitud_solicitudDetalles_entry_widget %}
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        {{form_label(form.artefacto)}}
        {{form_widget(form.artefacto)}}
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        {{form_label(form.serie)}}
        {{form_widget(form.serie)}}
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        {{form_label(form.descripcion)}}
        {{form_widget(form.descripcion)}}
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        {{form_label(form.observacion)}}
        {{form_widget(form.observacion)}}
    </div>
{% endblock %}

{% block page_content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
    <div class="x_title">
      <h2><b>Edicion de solicitud de reparacion </b><small>Formulario</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <div class="form_error"></div>

    {{ form_start(edit_form) }}
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <select class="select2-ajax"></select>
      </div>
      {{ form_row(edit_form.clienteString) }}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-md">Registrar paciente</button>
      <div class="artefactos col-lg-12 col-md-12 col-sm-12 col-xs-12"
                             data-prototype="{{ form_widget(edit_form.solicitudDetalles.vars.prototype)|e('html_attr') }}">
                             <h4>Artefactos Electronicos</h4>
                             {% for detalle in edit_form.solicitudDetalles %}
                               <div class="registro">
                                   {{form_widget(detalle)}}
                               </div>
                               {% endfor %}
                        </div>
        {{ form_row(edit_form.observacion) }}
        <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-4">
              <input type="submit" class="btn btn-primary" value="Guardar Solicitud" />
            </div>
          </div>
    {{ form_end(edit_form) }}
     </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagButton = $('<a class="add_tag_link"><b><u><i class="fas fa-plus"></i>Añadir artefacto electronico</u></b></a>');
    var $newLinkLi = $('<div></div>').append($addTagButton);

    jQuery(document).ready(function() {
        $('.select2-ajax').select2({
          ajax: {
                    dataType : "json",
                    url: "{{path('cliente_ajax')}}",
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    data:function (params) {
                        var query = {
                            search: params.term
                    }
                        // Query parameters will be ?search=[term]&type=public
                    return query;
                    }
                    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                },
                language: "es",
                allowClear: true,
                placeholder: 'Busque la persona',
                minimumInputLength: 3,
                width: '100%'
        });

        var data = {id:{{solicitud.cliente.id}},text:"{{solicitud.cliente.nombreCompleto}}"};
          var newOption = new Option(data.text, data.id, false, false);
          $('.select2-ajax').append(newOption).trigger('change');
        document.getElementById("reparacionbundle_solicitud_clienteString").value=data.id;

        $('.select2-ajax').on('select2:select',function(e){
            var data=e.params.data;
            document.getElementById("reparacionbundle_solicitud_clienteString").value=data.id;
        });
        $('.select2-ajax').on('select2:change',function(e){
                var data=e.params.data;
                document.getElementById("reparacionbundle_solicitud_clienteString").value=data.id;
            });
        $('.select2-ajax').on('select2:unselect',function(e){
            var data=e.params.data;
            document.getElementById("reparacionbundle_solicitud_clienteString").value="";
        });

        // Get the ul that holds the collection of tags
        $collectionHolder = $('div.artefactos');

        $collectionHolder.find("div[class='registro']").each(function() {
            addTagFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div class="registro"></div>').append(newForm);
        addTagFormDeleteLink($newFormLi);
        $newLinkLi.before($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button" class="btn btn-danger btn-xs" >Eliminar registro</button>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}

