{% extends 'base.html.twig' %}

{% block title %}
    REGISTRAR
{% endblock %}
{% block page_content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
    <div class="x_title">
      <h2><b>Registro de solicitud de laboratorio </b><small>Formulario</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

    {{ form_start(form) }}
        {{ form_row(form.nombrePaciente) }}
        <div class="row">
        {% for name, choices in form.laboratorio.vars.choices %}
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4><b>{{name}}</b></h4>
                <ul class="to_do">
                    {% for key,choice in choices %}
                      <li>
                        <p>
                            {{ form_widget(form.laboratorio[key],{'attr':{'class':'flat'}}) }}
                            {{ form_label(form.laboratorio[key]) }}
                        </p>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
        {{ form_row(form.observacion) }}
        <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-4">
              <input type="submit" class="btn btn-primary" value="Guardar Solicitud" />
            </div>
          </div>
    {{ form_end(form) }}
     </div>
    </div>
</div>
{% endblock %}
