{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><b>Registro de categoria </b><small>Formulario</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Editar" class="btn btn-warning" />
                <a href="{{ path('categoria_index') }}" class="btn btn-default">Volver al listado</a>
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
