{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tecnicos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tecnico in tecnicos %}
            <tr>
                <td><a href="{{ path('tecnico_show', { 'id': tecnico.id }) }}">{{ tecnico.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tecnico_show', { 'id': tecnico.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tecnico_edit', { 'id': tecnico.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tecnico_new') }}">Create a new tecnico</a>
        </li>
    </ul>
{% endblock %}
