{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Ci</th>
                <th>Fechanacimiento</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('persona_show', { 'id': persona.id }) }}">{{ persona.id }}</a></td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.paterno }}</td>
                <td>{{ persona.materno }}</td>
                <td>{{ persona.ci }}</td>
                <td>{% if persona.fechaNacimiento %}{{ persona.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{% if persona.sexo %}Yes{% else %}No{% endif %}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.direccion }}</td>
                <td>{{ persona.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('persona_show', { 'id': persona.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('persona_edit', { 'id': persona.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('persona_new') }}">Create a new persona</a>
        </li>
    </ul>
{% endblock %}
